In [3]:
import os
import shutil as sh

sh.copyfile("text.txt","text2.txt")

'text2.txt'

In [4]:
sh.copytree('folder1','copyedfolder')

'copyedfolder'

In [5]:
sh.copytree('nestedfolder','nestedfoldercopyed')

'nestedfoldercopyed'

### File Read And Write

In [15]:
f=open("text.txt","r")
txt=f.read()
print(txt)

Hello Copu operation perfomred here

In [17]:
f = open('myfile.txt', 'a')
f.write('writing new file or create if do not exist')
f.close()

In [20]:
import json

with open("file2.json","r",encoding='utf-8') as file:
    data=json.load(file)
print(data)

[{'name': 'Kuldeep Tapodhan', 'age': 22}, {'name': 'John Doe', 'age': 30}, {'name': 'Jane Smith', 'age': 25}]

In [21]:
data={
    "name":"Deep Tapodhan",
    "age":23
}

with open("file2.json","w",encoding="utf-8") as file:
    json.dump(data,file)

In [30]:
with open("file2.json","r+",encoding="utf-8") as file:
    data=json.load(file)
    data["role"]="Trainee"
    file.seek(0)
    json.dump(data,file)

In [22]:
import pandas as pd
pd.read_csv("students_data (1).csv")

,StudentName,Gender,EnrollmentNo,Compiler,ML,SE,MobileNumber,City
0,Rohit,M,101,88,85,70,1234567890,Mumbai
1,Virat,M,102,82,89,83,2345678901,Delhi
2,Smriti,F,103,65,82,88,3456789012,Mumbai
3,Harmanpreet,F,104,85,78,82,4567890123,Chandigarh
4,Bumrah,M,105,91,85,87,5678901234,Ahmedabad
5,Rodrigues,F,106,75,65,65,1567823490,Mumbai
6,Shafali,F,107,54,58,67,1567234890,Rohtak
7,Rishabh,M,108,67,74,56,1256789034,Delhi

In [24]:
import csv
with open('students_data (1).csv',mode='r') as file:
    filecon=csv.reader(file)
    for i in filecon:
        print(i)

['StudentName', 'Gender', 'EnrollmentNo', 'Compiler', 'ML', 'SE', 'MobileNumber', 'City']
['Rohit', 'M', '101', '88', '85', '70', '1234567890', 'Mumbai']
['Virat', 'M', '102', '82', '89', '83', '2345678901', 'Delhi']
['Smriti', 'F', '103', '65', '82', '88', '3456789012', 'Mumbai']
['Harmanpreet', 'F', '104', '85', '78', '82', '4567890123', 'Chandigarh']
['Bumrah', 'M', '105', '91', '85', '87', '5678901234', 'Ahmedabad']
['Rodrigues', 'F', '106', '75', '65', '65', '1567823490', 'Mumbai']
['Shafali', 'F', '107', '54', '58', '67', '1567234890', 'Rohtak']
['Rishabh', 'M', '108', '67', '74', '56', '1256789034', 'Delhi']

In [27]:
fiels=["Name","age","role","Salary"]
data=[["Kuldeep",22,"Intern","0"],["Kuldeep",22,"Intern","0"],["Kuldeep",22,"Intern","0"],["Kuldeep",22,"Intern","0"]]
with open("newcsv.csv",mode="w") as file:
    csvwrite=csv.writer(file)
    csvwrite.writerow(fiels)
    csvwrite.writerows(data)

In [28]:
with open("newcsv.csv",mode='r') as file:
    filecon=csv.reader(file)
    for i in filecon:
        print(i)

['Name', 'age', 'role', 'Salary']
[]
['Kuldeep', '22', 'Intern', '0']
[]
['Kuldeep', '22', 'Intern', '0']
[]
['Kuldeep', '22', 'Intern', '0']
[]
['Kuldeep', '22', 'Intern', '0']
[]

In [29]:
with open("newcsv.csv",mode="a",newline='') as file:
    csvwrite=csv.writer(file)
    csvwrite.writerow(["Deep Tapodhan",23,"Trainee","15000"])