## Loading & Initial Inspection:

In [94]:
import pandas as pd

In [95]:
df=pd.read_csv('sales_data.csv')

In [96]:
df.head(7)

  OrderID   Product     Category Region  Price  Quantity  Revenue   OrderDate
0  ORD001    Laptop  Electronics   West  750.0       2.0   1500.0  2024-01-15
1  ORD002     Mouse  Electronics  South   20.0       5.0    100.0  2024-02-10
2  ORD003  Keyboard  Electronics   West   45.0       3.0    135.0  2024-02-15
3  ORD004     Chair    Furniture   East  120.0       1.0    120.0  2024-03-01
4  ORD005      Desk    Furniture  North  250.0       1.0    250.0  2024-03-05
5  ORD006   Monitor  Electronics   West  200.0       2.0    400.0  2024-03-20
6  ORD007  Notebook   Stationery  South    5.0      10.0     50.0  2024-04-01

In [97]:
df.tail(7)

   OrderID   Product     Category Region  Price  Quantity  Revenue   OrderDate
14  ORD015  Notebook   Stationery  South    NaN      10.0     50.0  2024-05-07
15  ORD015  Notebook   Stationery  South    NaN      10.0     50.0  2024-05-07
16  ORD016  Keyboard  Electronics  North   45.0       4.0    180.0  2024-05-12
17  ORD017    Laptop  Electronics   West  750.0       3.0   2250.0  2024-05-20
18  ORD018     Mouse  Electronics   West   20.0       7.0    140.0  2024-05-22
19  ORD019      Desk    Furniture   East  250.0       1.0    250.0  2024-06-01
20  ORD020   Monitor  Electronics  South  200.0       1.0    200.0  2024-06-05

In [98]:
df.shape

(21, 8)

In [99]:
df.columns

Index(['OrderID', 'Product', 'Category', 'Region', 'Price', 'Quantity',
       'Revenue', 'OrderDate'],
      dtype='object')

In [100]:
df.dtypes

OrderID       object
Product       object
Category      object
Region        object
Price        float64
Quantity     float64
Revenue      float64
OrderDate     object
dtype: object

In [101]:
df.describe()

            Price   Quantity      Revenue
count   19.000000  20.000000    20.000000
mean   210.473684   5.700000   386.750000
std    256.839632   6.594256   610.828331
min      2.000000   1.000000    40.000000
25%     20.000000   1.000000    87.500000
50%    120.000000   3.000000   137.500000
75%    250.000000   7.750000   250.000000
max    750.000000  25.000000  2250.000000

In [102]:
df.describe(include='all')

,OrderID,Product,Category,Region,Price,Quantity,Revenue,OrderDate
count,21,21,20,21,19.000000,20.000000,20.000000,21
unique,20,8,3,4,NaN,NaN,NaN,20
top,ORD015,Laptop,Electronics,West,NaN,NaN,NaN,2024-05-07
freq,2,3,11,7,NaN,NaN,NaN,2
mean,NaN,NaN,NaN,NaN,210.473684,5.700000,386.750000,NaN
std,NaN,NaN,NaN,NaN,256.839632,6.594256,610.828331,NaN
min,NaN,NaN,NaN,NaN,2.000000,1.000000,40.000000,NaN
25%,NaN,NaN,NaN,NaN,20.000000,1.000000,87.500000,NaN
50%,NaN,NaN,NaN,NaN,120.000000,3.000000,137.500000,NaN
75%,NaN,NaN,NaN,NaN,250.000000,7.750000,250.000000,NaN
max,NaN,NaN,NaN,NaN,750.000000,25.000000,2250.000000,NaN

In [103]:
df.nunique()

OrderID      20
Product       8
Category      3
Region        4
Price         8
Quantity      9
Revenue      12
OrderDate    20
dtype: int64

## Data Selection & Indexing

In [104]:
df['Product']

0       Laptop
1        Mouse
2     Keyboard
3        Chair
4         Desk
5      Monitor
6     Notebook
7          Pen
8       Laptop
9        Mouse
10        Desk
11     Monitor
12       Chair
13         Pen
14    Notebook
15    Notebook
16    Keyboard
17      Laptop
18       Mouse
19        Desk
20     Monitor
Name: Product, dtype: object

In [105]:
df[['Product','Price','Quantity']]

     Product  Price  Quantity
0     Laptop  750.0       2.0
1      Mouse   20.0       5.0
2   Keyboard   45.0       3.0
3      Chair  120.0       1.0
4       Desk  250.0       1.0
5    Monitor  200.0       2.0
6   Notebook    5.0      10.0
7        Pen    2.0      20.0
8     Laptop  750.0       NaN
9      Mouse   20.0       5.0
10      Desk  250.0       1.0
11   Monitor  200.0       2.0
12     Chair  120.0       1.0
13       Pen    2.0      25.0
14  Notebook    NaN      10.0
15  Notebook    NaN      10.0
16  Keyboard   45.0       4.0
17    Laptop  750.0       3.0
18     Mouse   20.0       7.0
19      Desk  250.0       1.0
20   Monitor  200.0       1.0

In [106]:
df.iloc[3]

OrderID          ORD004
Product           Chair
Category      Furniture
Region             East
Price             120.0
Quantity            1.0
Revenue           120.0
OrderDate    2024-03-01
Name: 3, dtype: object

In [107]:
df.iloc[5:11]

   OrderID   Product     Category Region  Price  Quantity  Revenue   OrderDate
5   ORD006   Monitor  Electronics   West  200.0       2.0    400.0  2024-03-20
6   ORD007  Notebook   Stationery  South    5.0      10.0     50.0  2024-04-01
7   ORD008       Pen   Stationery   East    2.0      20.0     40.0  2024-04-02
8   ORD009    Laptop  Electronics   West  750.0       NaN   1500.0  2024-04-05
9   ORD010     Mouse  Electronics  South   20.0       5.0    100.0  2024-04-10
10  ORD011      Desk    Furniture  North  250.0       1.0    250.0  2024-04-15

In [108]:
df.set_index('OrderID',inplace=True)

In [109]:
df.loc['ORD019']

Product            Desk
Category      Furniture
Region             East
Price             250.0
Quantity            1.0
Revenue           250.0
OrderDate    2024-06-01
Name: ORD019, dtype: object

In [110]:
df.loc[['ORD002','ORD005'],['Product','Region']]

        Product Region
OrderID
ORD002    Mouse  South
ORD005     Desk  North

In [111]:
df.iloc[[0,2,4],[1,3]]

            Category  Price
OrderID
ORD001   Electronics  750.0
ORD003   Electronics   45.0
ORD005     Furniture  250.0

## Filtering Data:

 Filter and display all rows where a numerical column (e.g., 'Quantity') is greater than a certain value (e.g., 10).

 Filter and display all rows where a categorical column (e.g., 'Category') is equal to a specific value (e.g., 'Electronics').

 Filter and display rows that meet multiple conditions (e.g., 'Region' is 'West' AND 'Price' is less than 50).

 Filter and display rows where a column's value is one of several specified values (e.g., 'Product' is 'Laptop', 'Mouse', or 'Keyboard').


 Filter out rows where a specific column has missing values.

In [112]:
filterd_row=df[df['Quantity']>10]
filterd_row

        Product    Category Region  Price  Quantity  Revenue   OrderDate
OrderID
ORD008      Pen  Stationery   East    2.0      20.0     40.0  2024-04-02
ORD014      Pen         NaN   East    2.0      25.0     50.0  2024-05-05

In [113]:
df.loc[df['Category'] == 'Electronics']

          Product     Category Region  Price  Quantity  Revenue   OrderDate
OrderID
ORD001     Laptop  Electronics   West  750.0       2.0   1500.0  2024-01-15
ORD002      Mouse  Electronics  South   20.0       5.0    100.0  2024-02-10
ORD003   Keyboard  Electronics   West   45.0       3.0    135.0  2024-02-15
ORD006    Monitor  Electronics   West  200.0       2.0    400.0  2024-03-20
ORD009     Laptop  Electronics   West  750.0       NaN   1500.0  2024-04-05
ORD010      Mouse  Electronics  South   20.0       5.0    100.0  2024-04-10
ORD012    Monitor  Electronics   West  200.0       2.0      NaN  2024-05-01
ORD016   Keyboard  Electronics  North   45.0       4.0    180.0  2024-05-12
ORD017     Laptop  Electronics   West  750.0       3.0   2250.0  2024-05-20
ORD018      Mouse  Electronics   West   20.0       7.0    140.0  2024-05-22
ORD020    Monitor  Electronics  South  200.0       1.0    200.0  2024-06-05

In [114]:
# Filter and display rows that meet multiple conditions (e.g., 'Region' is 'West' AND 'Price' is less than 50).
df.loc[(df['Region']=='West') & (df['Price']<50)]

          Product     Category Region  Price  Quantity  Revenue   OrderDate
OrderID
ORD003   Keyboard  Electronics   West   45.0       3.0    135.0  2024-02-15
ORD018      Mouse  Electronics   West   20.0       7.0    140.0  2024-05-22

In [115]:
# Filter and display rows where a column's value is one of several specified values (e.g., 'Product' is 'Laptop', 'Mouse', or 'Keyboard').
df.loc[(df['Product']=='Laptop')|(df['Product']=='Mouse')| (df['Product']=='Keyboard')]

          Product     Category Region  Price  Quantity  Revenue   OrderDate
OrderID
ORD001     Laptop  Electronics   West  750.0       2.0   1500.0  2024-01-15
ORD002      Mouse  Electronics  South   20.0       5.0    100.0  2024-02-10
ORD003   Keyboard  Electronics   West   45.0       3.0    135.0  2024-02-15
ORD009     Laptop  Electronics   West  750.0       NaN   1500.0  2024-04-05
ORD010      Mouse  Electronics  South   20.0       5.0    100.0  2024-04-10
ORD016   Keyboard  Electronics  North   45.0       4.0    180.0  2024-05-12
ORD017     Laptop  Electronics   West  750.0       3.0   2250.0  2024-05-20
ORD018      Mouse  Electronics   West   20.0       7.0    140.0  2024-05-22

In [116]:
# Filter out rows where a specific column has missing values.
df[df['Quantity'].isna()]

        Product     Category Region  Price  Quantity  Revenue   OrderDate
OrderID
ORD009   Laptop  Electronics   West  750.0       NaN   1500.0  2024-04-05

### Data Cleaning & Manipulation:
Identify columns with any missing (NaN) values.

Count the total number of missing values in each column.

Fill missing values in a specific numerical column with its mean or median.

Fill missing values in a specific categorical column with a placeholder like 'Unknown' or the mode.

Drop all rows that have any missing values.

Drop a specific column by its name.

Create a new column by performing an arithmetic operation on two existing numerical columns (e.g., 'TotalPrice' = 'Quantity' * 'Price').

Convert a column containing date strings to the datetime data type.

Extract the month or year from a datetime column into a new column.

Rename one or more columns.

Change the data type of a column (e.g., from float to integer, if appropriate).

Find and remove duplicate rows from the DataFrame.

Apply a custom function to each element in a Series/column (e.g., convert text to uppercase).

In [117]:
# Identify columns with any missing (NaN) values.
df.columns[df.isna().any()]

Index(['Category', 'Price', 'Quantity', 'Revenue'], dtype='object')

In [118]:
# Count the total number of missing values in each column.
df.isnull().sum()

Product      0
Category     1
Region       0
Price        2
Quantity     1
Revenue      1
OrderDate    0
dtype: int64

In [119]:
# Fill missing values in a specific numerical column with its mean or median.

value = df['Price'].mean()
df['Price'] = df['Price'].fillna(value)

In [120]:
# Fill missing values in a specific categorical column with a placeholder like 'Unknown' or the mode.
df['Category'] =df['Category'].fillna("Unknown")
df

,Product,Category,Region,Price,Quantity,Revenue,OrderDate
OrderID,,,,,,,
ORD001,Laptop,Electronics,West,750.000000,2.0,1500.0,2024-01-15
ORD002,Mouse,Electronics,South,20.000000,5.0,100.0,2024-02-10
ORD003,Keyboard,Electronics,West,45.000000,3.0,135.0,2024-02-15
ORD004,Chair,Furniture,East,120.000000,1.0,120.0,2024-03-01
ORD005,Desk,Furniture,North,250.000000,1.0,250.0,2024-03-05
ORD006,Monitor,Electronics,West,200.000000,2.0,400.0,2024-03-20
ORD007,Notebook,Stationery,South,5.000000,10.0,50.0,2024-04-01
ORD008,Pen,Stationery,East,2.000000,20.0,40.0,2024-04-02
ORD009,Laptop,Electronics,West,750.000000,NaN,1500.0,2024-04-05
ORD010,Mouse,Electronics,South,20.000000,5.0,100.0,2024-04-10
ORD011,Desk,Furniture,North,250.000000,1.0,250.0,2024-04-15
ORD012,Monitor,Electronics,West,200.000000,2.0,NaN,2024-05-01
ORD013,Chair,Furniture,East,120.000000,1.0,120.0,2024-05-03
ORD014,Pen,Unknown,East,2.000000,25.0,50.0,2024-05-05
ORD015,Notebook,Stationery,South,210.473684,10.0,50.0,2024-05-07
ORD015,Notebook,Stationery,South,210.473684,10.0,50.0,2024-05-07
ORD016,Keyboard,Electronics,North,45.000000,4.0,180.0,2024-05-12
ORD017,Laptop,Electronics,West,750.000000,3.0,2250.0,2024-05-20
ORD018,Mouse,Electronics,West,20.000000,7.0,140.0,2024-05-22
ORD019,Desk,Furniture,East,250.000000,1.0,250.0,2024-06-01
ORD020,Monitor,Electronics,South,200.000000,1.0,200.0,2024-06-05

In [121]:
# Drop all rows that have any missing values.
df.dropna()

,Product,Category,Region,Price,Quantity,Revenue,OrderDate
OrderID,,,,,,,
ORD001,Laptop,Electronics,West,750.000000,2.0,1500.0,2024-01-15
ORD002,Mouse,Electronics,South,20.000000,5.0,100.0,2024-02-10
ORD003,Keyboard,Electronics,West,45.000000,3.0,135.0,2024-02-15
ORD004,Chair,Furniture,East,120.000000,1.0,120.0,2024-03-01
ORD005,Desk,Furniture,North,250.000000,1.0,250.0,2024-03-05
ORD006,Monitor,Electronics,West,200.000000,2.0,400.0,2024-03-20
ORD007,Notebook,Stationery,South,5.000000,10.0,50.0,2024-04-01
ORD008,Pen,Stationery,East,2.000000,20.0,40.0,2024-04-02
ORD010,Mouse,Electronics,South,20.000000,5.0,100.0,2024-04-10
ORD011,Desk,Furniture,North,250.000000,1.0,250.0,2024-04-15
ORD013,Chair,Furniture,East,120.000000,1.0,120.0,2024-05-03
ORD014,Pen,Unknown,East,2.000000,25.0,50.0,2024-05-05
ORD015,Notebook,Stationery,South,210.473684,10.0,50.0,2024-05-07
ORD015,Notebook,Stationery,South,210.473684,10.0,50.0,2024-05-07
ORD016,Keyboard,Electronics,North,45.000000,4.0,180.0,2024-05-12
ORD017,Laptop,Electronics,West,750.000000,3.0,2250.0,2024-05-20
ORD018,Mouse,Electronics,West,20.000000,7.0,140.0,2024-05-22
ORD019,Desk,Furniture,East,250.000000,1.0,250.0,2024-06-01
ORD020,Monitor,Electronics,South,200.000000,1.0,200.0,2024-06-05

In [122]:
#Drop a specific column by its name.
df.drop(columns=['Region'], inplace=True)

In [123]:
df

          Product     Category       Price  Quantity  Revenue   OrderDate
OrderID
ORD001     Laptop  Electronics  750.000000       2.0   1500.0  2024-01-15
ORD002      Mouse  Electronics   20.000000       5.0    100.0  2024-02-10
ORD003   Keyboard  Electronics   45.000000       3.0    135.0  2024-02-15
ORD004      Chair    Furniture  120.000000       1.0    120.0  2024-03-01
ORD005       Desk    Furniture  250.000000       1.0    250.0  2024-03-05
ORD006    Monitor  Electronics  200.000000       2.0    400.0  2024-03-20
ORD007   Notebook   Stationery    5.000000      10.0     50.0  2024-04-01
ORD008        Pen   Stationery    2.000000      20.0     40.0  2024-04-02
ORD009     Laptop  Electronics  750.000000       NaN   1500.0  2024-04-05
ORD010      Mouse  Electronics   20.000000       5.0    100.0  2024-04-10
ORD011       Desk    Furniture  250.000000       1.0    250.0  2024-04-15
ORD012    Monitor  Electronics  200.000000       2.0      NaN  2024-05-01
ORD013      Chair    Furniture  120.000000       1.0    120.0  2024-05-03
ORD014        Pen      Unknown    2.000000      25.0     50.0  2024-05-05
ORD015   Notebook   Stationery  210.473684      10.0     50.0  2024-05-07
ORD015   Notebook   Stationery  210.473684      10.0     50.0  2024-05-07
ORD016   Keyboard  Electronics   45.000000       4.0    180.0  2024-05-12
ORD017     Laptop  Electronics  750.000000       3.0   2250.0  2024-05-20
ORD018      Mouse  Electronics   20.000000       7.0    140.0  2024-05-22
ORD019       Desk    Furniture  250.000000       1.0    250.0  2024-06-01
ORD020    Monitor  Electronics  200.000000       1.0    200.0  2024-06-05

In [ ]:
# Create a new column by performing an arithmetic operation on two existing numerical columns (e.g., 'TotalPrice' = 'Quantity' * 'Price').
df['TotalPrice']=df['Quantity'] * df['Price']
df

,Product,Category,Price,Quantity,Revenue,OrderDate,TotalPrice
OrderID,,,,,,,
ORD001,Laptop,Electronics,750.000000,2.0,1500.0,2024-01-15,1500.000000
ORD002,Mouse,Electronics,20.000000,5.0,100.0,2024-02-10,100.000000
ORD003,Keyboard,Electronics,45.000000,3.0,135.0,2024-02-15,135.000000
ORD004,Chair,Furniture,120.000000,1.0,120.0,2024-03-01,120.000000
ORD005,Desk,Furniture,250.000000,1.0,250.0,2024-03-05,250.000000
ORD006,Monitor,Electronics,200.000000,2.0,400.0,2024-03-20,400.000000
ORD007,Notebook,Stationery,5.000000,10.0,50.0,2024-04-01,50.000000
ORD008,Pen,Stationery,2.000000,20.0,40.0,2024-04-02,40.000000
ORD009,Laptop,Electronics,750.000000,NaN,1500.0,2024-04-05,NaN
ORD010,Mouse,Electronics,20.000000,5.0,100.0,2024-04-10,100.000000
ORD011,Desk,Furniture,250.000000,1.0,250.0,2024-04-15,250.000000
ORD012,Monitor,Electronics,200.000000,2.0,NaN,2024-05-01,400.000000
ORD013,Chair,Furniture,120.000000,1.0,120.0,2024-05-03,120.000000
ORD014,Pen,Unknown,2.000000,25.0,50.0,2024-05-05,50.000000
ORD015,Notebook,Stationery,210.473684,10.0,50.0,2024-05-07,2104.736842
ORD015,Notebook,Stationery,210.473684,10.0,50.0,2024-05-07,2104.736842
ORD016,Keyboard,Electronics,45.000000,4.0,180.0,2024-05-12,180.000000
ORD017,Laptop,Electronics,750.000000,3.0,2250.0,2024-05-20,2250.000000
ORD018,Mouse,Electronics,20.000000,7.0,140.0,2024-05-22,140.000000
ORD019,Desk,Furniture,250.000000,1.0,250.0,2024-06-01,250.000000
ORD020,Monitor,Electronics,200.000000,1.0,200.0,2024-06-05,200.000000

In [128]:
# Convert a column containing date strings to the datetime data type.
df['OrderDate']=pd.to_datetime(df['OrderDate'])
df['OrderDate']

OrderID
ORD001   2024-01-15
ORD002   2024-02-10
ORD003   2024-02-15
ORD004   2024-03-01
ORD005   2024-03-05
ORD006   2024-03-20
ORD007   2024-04-01
ORD008   2024-04-02
ORD009   2024-04-05
ORD010   2024-04-10
ORD011   2024-04-15
ORD012   2024-05-01
ORD013   2024-05-03
ORD014   2024-05-05
ORD015   2024-05-07
ORD015   2024-05-07
ORD016   2024-05-12
ORD017   2024-05-20
ORD018   2024-05-22
ORD019   2024-06-01
ORD020   2024-06-05
Name: OrderDate, dtype: datetime64[ns]

In [130]:
# Extract the month or year from a datetime column into a new column.
df['OrderMonth']=df['OrderDate'].dt.month
df['OrderMonth']

OrderID
ORD001    1
ORD002    2
ORD003    2
ORD004    3
ORD005    3
ORD006    3
ORD007    4
ORD008    4
ORD009    4
ORD010    4
ORD011    4
ORD012    5
ORD013    5
ORD014    5
ORD015    5
ORD015    5
ORD016    5
ORD017    5
ORD018    5
ORD019    6
ORD020    6
Name: OrderMonth, dtype: int32

In [133]:
# Rename one or more columns.
df.rename(columns={'Price':'UnitPrice','Quantity':'UnitsSold'},inplace=True)
df.head(2)

,Product,Category,UnitPrice,UnitsSold,Revenue,OrderDate,TotalPrice,OrderMonth
OrderID,,,,,,,,
ORD001,Laptop,Electronics,750.0,2.0,1500.0,2024-01-15,1500.0,1
ORD002,Mouse,Electronics,20.0,5.0,100.0,2024-02-10,100.0,2

In [137]:
# Change the data type of a column (e.g., from float to integer, if appropriate).
df['UnitPrice']=df['UnitPrice'].astype(int)
df.dtypes

Product               object
Category              object
UnitPrice              int32
UnitsSold            float64
Revenue              float64
OrderDate     datetime64[ns]
TotalPrice           float64
OrderMonth             int32
dtype: object

In [140]:
# Find and remove duplicate rows from the DataFrame.
duplicate=df.drop_duplicates(inplace=True)
df

,Product,Category,UnitPrice,UnitsSold,Revenue,OrderDate,TotalPrice,OrderMonth
OrderID,,,,,,,,
ORD001,Laptop,Electronics,750,2.0,1500.0,2024-01-15,1500.000000,1
ORD002,Mouse,Electronics,20,5.0,100.0,2024-02-10,100.000000,2
ORD003,Keyboard,Electronics,45,3.0,135.0,2024-02-15,135.000000,2
ORD004,Chair,Furniture,120,1.0,120.0,2024-03-01,120.000000,3
ORD005,Desk,Furniture,250,1.0,250.0,2024-03-05,250.000000,3
ORD006,Monitor,Electronics,200,2.0,400.0,2024-03-20,400.000000,3
ORD007,Notebook,Stationery,5,10.0,50.0,2024-04-01,50.000000,4
ORD008,Pen,Stationery,2,20.0,40.0,2024-04-02,40.000000,4
ORD009,Laptop,Electronics,750,NaN,1500.0,2024-04-05,NaN,4
ORD010,Mouse,Electronics,20,5.0,100.0,2024-04-10,100.000000,4
ORD011,Desk,Furniture,250,1.0,250.0,2024-04-15,250.000000,4
ORD012,Monitor,Electronics,200,2.0,NaN,2024-05-01,400.000000,5
ORD013,Chair,Furniture,120,1.0,120.0,2024-05-03,120.000000,5
ORD014,Pen,Unknown,2,25.0,50.0,2024-05-05,50.000000,5
ORD015,Notebook,Stationery,210,10.0,50.0,2024-05-07,2104.736842,5
ORD016,Keyboard,Electronics,45,4.0,180.0,2024-05-12,180.000000,5
ORD017,Laptop,Electronics,750,3.0,2250.0,2024-05-20,2250.000000,5
ORD018,Mouse,Electronics,20,7.0,140.0,2024-05-22,140.000000,5
ORD019,Desk,Furniture,250,1.0,250.0,2024-06-01,250.000000,6
ORD020,Monitor,Electronics,200,1.0,200.0,2024-06-05,200.000000,6

In [141]:
# Apply a custom function to each element in a Series/column (e.g., convert text to uppercase).
df['Product']=df['Product'].apply(lambda x: x.upper())
df['Product']

OrderID
ORD001      LAPTOP
ORD002       MOUSE
ORD003    KEYBOARD
ORD004       CHAIR
ORD005        DESK
ORD006     MONITOR
ORD007    NOTEBOOK
ORD008         PEN
ORD009      LAPTOP
ORD010       MOUSE
ORD011        DESK
ORD012     MONITOR
ORD013       CHAIR
ORD014         PEN
ORD015    NOTEBOOK
ORD016    KEYBOARD
ORD017      LAPTOP
ORD018       MOUSE
ORD019        DESK
ORD020     MONITOR
Name: Product, dtype: object